<body id="page-top">
    @{
        await Html.RenderPartialAsync("_IndexPageNavbarPartial");
    }
    <!-- Header -->
    <header class="bg-img1">
        <div class="container">
            <div class="slider-container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Our Foodnetic App!</div>
                    <div class="intro-heading">It's Nice To Meet You</div>
                    <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>ABOUT</h2>
                        <p>With Foodnetic is easy to find the right dish for every occasion. There are hundreds of recipes. So whether you're on a hurry or having a party the right recipe is always at your fingertips. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- about module -->
                <div class="col-md-4 text-center">
                    <div class="mz-module-about">
                        <i class="fas fa-book-open ot-circle"></i>
                        <h3>Create Recipes</h3>
                        <p>Create your own recipes or browse our collection of already created once.</p>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-4 text-center">
                    <div class="mz-module-about">
                        <i class="fas fa-utensils ot-circle"></i>
                        <h3>Create Daily Menu</h3>
                        <p>Depending on the groceries available to you, you could create your own different daily menu.</p>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-4 text-center">
                    <div class="mz-module-about">
                        <i class="fas fa-lemon ot-circle"></i>
                        <h3>Create Virtual Fridge</h3>
                        <p>Add groceries from your fridge in your virtual one and bon appétit!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <footer class="dark-bg">
        <div class="dark-bg">
            <div class="text-white p-2 text-center">
                &copy; CopyRight Foodnetic Inc. 2018-2018. All rights reserved.
            </div>
        </div>
    </footer>
</body>

