@model IEnumerable<Foodnetic.ViewModels.Comments.CommentViewModel>

<div class="clearfix my-3"></div>
<hr>
<div class="container mt-5">
    <ul class="media-list">
        @foreach (var item in Model.OrderByDescending(x => x.PostedOn))
        {
            <li class="media">
                <div class="media-body border my-3">
                    <span class="text-muted pull-right">
                        <small class="text-muted">@item.PostedOn</small>
                    </span>
                    <strong class="text-success">@item.Username</strong>
                    <h5>
                        <strong>
                            @item.Content
                        </strong>
                    </h5>
                </div>
            </li>
        }
    </ul>

</div>