@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Foodnetic.ViewModels.Products
@model IEnumerable<IngredientsViewModel>

<div>
    @foreach (var item in Model)
    {
        <div class="my-2">@item.Quantity g. @item.Name</div>
    }
</div>