@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Administration/Views/Shared/_SecondaryLayout.cshtml";
}
@model Foodnetic.ViewModels.Products.CreateProductViewModel

<style>
    .hr-green {
        background-color: black;
        width: 50%
    }
    .btn-green {
        background-color: #466618;
    }
</style>
<body>
<header>
    @{
        await Html.RenderPartialAsync("_DefaultNavbarPartial");
    }
</header>
<div class="intro-text text-center">
    <h1 class="intro-lead-in mb-4 mt-4">Create Product</h1>
    <hr class="hr-green" />
    @if (ViewData["Error"] != null)
    {
        <div class="bg-danger text-center container rounded mt-3 py-3">
            <h5 class="text-white">@ViewData["Error"]</h5>
        </div>
    }
</div>
<form method="post" asp-controller="Admins" asp-action="CreateProduct">
    <div class="container text-center col-md-4">
        <div class="form-control text-center">
            <strong><label asp-for="Name"></label></strong>
            <input asp-for="Name" class="form-control" placeholder="Name...">
        </div>
        <div class="form-control">
            <strong><label asp-for="ProductType"></label></strong>
            <select asp-for="ProductType" asp-items="Html.GetEnumSelectList<Foodnetic.Models.Enums.ProductType>()"></select>
        </div>
    </div>
    <hr class="hr-green" />
    <div class="text-center" style="margin-top: 10px; margin-bottom: 20px">
        <button type="submit" class="btn btn-green">Create Product</button>
    </div>
    <div class="text-center">
        <a asp-controller="Admins" asp-action="AllProducts">See all...</a>
    </div>
</form>
</body>
