@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Foodnetic.ViewModels.Account
@model Foodnetic.ViewModels.Account.LoginViewModel
<body class="bg-img1">
    @{
        await Html.RenderPartialAsync("_LoginRegisterNavbarPartial");
    }
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="bg-danger text-center container rounded mt-3 py-3">
            <h5 class="text-white">@ViewData["Error"]</h5>
        </div>
    }
    <div class="col-lg-4 col-lg-offset-4 dark-bg col-md-3 col-sm-3 col-sm-offset-4" style="border-radius: 2rem !important; margin-top: 10%; opacity: 0.82">
        <h1 class="text-center" style="color: white">Login</h1>
        <hr class="bg-eventure hr-2" />
        <form class="mx-auto half-width" method="post" asp-controller="Account" asp-action="Login">
            <div class="form-group text-center">
                <strong><label asp-for="Username"></label></strong>
                <input asp-for="Username" class="form-control" placeholder="Username...">
            </div>
            <div class="form-group text-center">
                <strong><label asp-for="Password"></label></strong>
                <input asp-for="Password" class="form-control" placeholder="Password...">
            </div>
            <div class="form-group text-center">
                <label asp-for="RememberMe"><input asp-for="RememberMe" value="RememberMe">&nbsp;Remember me?</label>
            </div>
            <div class="col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
            <div class="text-center" style="margin-top: 10px">
                <a asp-action="">Forgot your password?</a>
            </div>
            <div class="text-center" style="margin-top: 10px; margin-bottom: 20px">
                <a asp-action="Register">Register as new user</a>
            </div>
        </form>
    </div>
</body>