@{

    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}
@using Foodnetic.Contants
@using Foodnetic.ViewModels.Ingredients
@model CreateIngredientViewModel
<style>

    .text-foods {
        font-family: "Playfair Display",sans-serif;
        font-style: italic;
    }

    .hr-green {
        background-color: black;
        width: 50%
    }
</style>
<body>
    <header>
        @{
            await Html.RenderPartialAsync("_DefaultNavbarPartial");
        }
    </header>
    <div class="intro-text text-center">
        <h1 class="intro-lead-in mb-4 mt-4">First Step</h1>
        <h3 class="intro-lead-in mb-4 mt-4">Add the ingredients</h3>
        <hr class="hr-green" />
    </div>
    @if (ViewData[Constants.Strings.ErrorString] != null)
    {
        <div class="bg-danger text-center container rounded mt-3 py-3">
            <h5 class="text-white">@ViewData[Constants.Strings.ErrorString]</h5>
        </div>
    }
    <div class="container col-md-5 text-center">
        <form asp-controller="Recipes" asp-action="AddIngredients" method="get">
            <label for="searchString">Product or Product Type: </label><input type="text" name="searchString" id="searchString" class="form-control" placeholder="e.g. Dairy, Meat, Fish, Spices...">
            <input type="submit" value="Search" class="btn btn-green my-4" />
        </form>
        <div class="text-center">
            <a asp-action="Create" asp-controller="Recipes" class="btn btn-green">Next ></a>
            <a asp-action="Cancel" asp-controller="Recipes" class="btn btn-green">Cancel</a>
        </div>
    </div>
    @if (Model != null)
    {
        <form method="post" asp-controller="Recipes" asp-action="AddIngredients">
            <div class="text-center row d-flex justify-content-center">
                <div class="container text-center col-md-3 form-group" style="margin-right: 1px; margin-left: 30px; margin-top: 28px">
                    <select asp-for="Name" size="5" class="custom-select ">
                        @foreach (var product in Model.Products)
                        {
                            <option value="@product.Name">@product.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <strong><label asp-for="Quantity"></label></strong>
                    <input asp-for="Quantity" class="form-control" placeholder="Quantity in grams..." min="1" value="1">
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                    <div class="text-center my-3">
                        <button type="submit" class="btn btn-green">Add Ingredient</button>
                    </div>
                </div>
                <div class="text-center col-md-3" style="margin-right: 30px; margin-left: 1px; margin-bottom: 30px">
                    <p class="mb-1 text-success"><strong>Ingredients Added</strong></p>
                    @if (Model.Ingredients != null)
                    {
                        await Html.RenderPartialAsync("_AddedIngredientsPartial", Model.Ingredients);

                    }
                </div>
            </div>
        </form>
    }
</body>
