
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}

<body>
<header>
    @{
        await Html.RenderPartialAsync("_DefaultNavbarPartial");
    }
</header>
</body>
